body{
    color: white;
}

header{
    background-color: #29B795;
    margin-bottom: 3rem;
}
section.form{
    height: 30vh;
}

.violet{
    background-color: blueviolet;
}

.header-content{
    height: 400px;
}

.bordered{
    border: 4px solid black;
}

.about-text{
    background-color: rgb(113, 220, 247);
    height: 150px;
}

.square{
    height: 400px;
    background-color: crimson;
    border-radius: 30px;
}

.about{
    background-color: #29B795;
}


.footer-top{
    background-color: #354D62;
}

.footer-bottom{
    background-color: #293947;
}

