header{
    background-color: #29B795;
    margin-bottom: 3rem;
    height: 30vh;
}

.violet{
    background-color: blueviolet;
}

.bg-card{
    background-color: brown;
}

.square{
    height: 400px;
    background-color: crimson;
    border: 5px solid black;
}